.containerExchangeArticle {
  margin-top: 85px; /*borde superior para que el navbar no tape el contenido*/
  font-weight: bold;
  margin-bottom: 20px;
}

.exchangeSection {
  width: 100%;
  margin-top: 2rem;
}

.loadMoreButton {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: 1px solid #a36813;
  border-radius: 5px;
  background-color: #a36813;
  color: white;
  display: block;
  margin: 2rem auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: white;
  color: #7c4d06;
}
