.registerSection {
  flex: 1;
  background-color: #e8f5f8;
  display: flex;
  /* es la dirección en la que se apilan los objetos, en este caso vertical, con una dirección normal */
  flex-direction: column;
  /* distribuimos los elementos de esta seccion izquierda para mantener espacio entre ellos */
  justify-content: space-between;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-align: left;
  padding-top: 4rem;
  padding-left: 4rem;
  text-decoration: none;
}

.slogan {
  font-size: 1.7rem;
  text-align: left;
  color: #000;
  padding: 0rem 5rem;
}

.image {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  .registerSection {
    padding: 1.5rem 1rem 0 1rem;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .title {
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
    padding-left: 0;
    padding-top: 2rem;
  }

  .slogan {
    font-size: 1.1rem;
    padding: 0 0.5rem;
    text-align: center;
  }
}