/* espacio superior para que el navbar no se ponga encima del contenido de las páginas */
.containerSlider {
  padding-top: 55px;
}

/* se añade una capa oscura a la img para mejorar la legibilidad del texto*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* color de la capa para la img con transparencia */
}

/* estilos para centrar el texto */
.caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); /* se centra perfectamente */
  color: white;
  text-align: center;
  padding: 0 16px;
}

/* se ajusta el tamaño del contenedor del carrusel */
.slider {
  position: relative;
  height: 300px;
}

/* ajustamos el tamaño de las imágenes */
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* la imagen se escala y recorta para llenar el contenedor */
  object-position: center; /* centramos este recorte */
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .slider {
    height: 250px;
  }
  .caption {
    font-size: 0.8em; 
    padding: 0 8px;
  }
  .caption h3 {
    margin: 0.3em 0;
    font-size: 1.1em;
  }
  .caption p {
    margin: 0.2em 0;
    font-size: 1em;
  }
}